.body {
  background-color: rgb(50, 50, 50);
}

.form-color {
  background-color: rgb(30, 30, 30);
  /* margin-top: 100px; */
  padding: 50px;
}
.container2 {
  background-color: rgb(255, 255, 255);
}
.card-img-top {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.header-div
{
  position: relative;
}
.headrH2
{
  margin-top: 20px;
  padding: 50px;
}
.headrH2::after
{
  position: absolute;
  content: "";
  width: 100px;
  height: 5px;
  background-color:rgb(13, 110, 253);
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.containerTwo
{
  position: relative;
}
.show-all{
  position: absolute;
  top: 10%;
  left: 90%;
  transform: translate(-50%,-50%);
}